.campaign-settings #style-settings textarea, .campaign-settings #style-settings textarea.flat-field {
  color: black;
  background: url(https://fc06.deviantart.net/fs11/i/2006/220/d/2/Grungy_paper_v_6___or_sumtin___by_bashcorpo.jpg); }
.campaign-settings #style-settings #dark-section, .campaign-settings #style-settings .gray-back {
  background: none; }

.adventure-log-index #campaign-nav {
  background-color: rgba(155, 105, 85, 0.8); }
.adventure-log-index #content {
  background-image: url(https://fc00.deviantart.net/fs15/f/2007/059/1/9/Corkboard_Wood_Cork_Composite_by_Enchantedgal_Stock.jpg); }

#content, #fancybox-outer {
  background: url(https://fc03.deviantart.net/fs7/i/2005/258/c/4/Paper_texture_v5_by_bashcorpo.jpg);
  font-family: "Stardos Stencil";
  color: #000; }
  #content .adventure-log-new-container, #fancybox-outer .adventure-log-new-container {
    background: none;
    margin-bottom: -15px; }
  #content .adventure-log-post-container.teaser:nth-of-type(odd), #fancybox-outer .adventure-log-post-container.teaser:nth-of-type(odd) {
    transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg); }
    #content .adventure-log-post-container.teaser:nth-of-type(odd) .post-column:before, #fancybox-outer .adventure-log-post-container.teaser:nth-of-type(odd) .post-column:before {
      content: url(http://i.minus.com/ib15ixRfsZj5mz.png);
      position: relative;
      top: -17px;
      left: 340px; }
  #content .adventure-log-post-container.teaser:nth-of-type(even), #fancybox-outer .adventure-log-post-container.teaser:nth-of-type(even) {
    transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -webkit-transform: rotate(2deg); }
    #content .adventure-log-post-container.teaser:nth-of-type(even) .post-column:before, #fancybox-outer .adventure-log-post-container.teaser:nth-of-type(even) .post-column:before {
      content: url(http://i.minus.com/ib15ixRfsZj5mz.png);
      position: relative;
      top: -17px;
      left: 190px; }
  #content .adventure-log-post-container.teaser, #fancybox-outer .adventure-log-post-container.teaser {
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
    box-shadow: 5px 10px 15px black;
    background-image: url(http://i.minus.com/iUwiso5R9j13n.jpg);
    background-size: cover; }
    #content .adventure-log-post-container.teaser .post-column, #fancybox-outer .adventure-log-post-container.teaser .post-column {
      width: 100%; }
      #content .adventure-log-post-container.teaser .post-column .title, #fancybox-outer .adventure-log-post-container.teaser .post-column .title {
        border: 0px;
        font-size: 20px;
        margin-top: -3px; }
      #content .adventure-log-post-container.teaser .post-column .post-content, #fancybox-outer .adventure-log-post-container.teaser .post-column .post-content {
        height: 190px; }
        #content .adventure-log-post-container.teaser .post-column .post-content p, #fancybox-outer .adventure-log-post-container.teaser .post-column .post-content p {
          line-height: 20px;
          padding-bottom: 3px; }
      #content .adventure-log-post-container.teaser .post-column .post-view-link, #fancybox-outer .adventure-log-post-container.teaser .post-column .post-view-link {
        display: none; }
      #content .adventure-log-post-container.teaser .post-column .post-header, #fancybox-outer .adventure-log-post-container.teaser .post-column .post-header {
        margin-top: -57px; }
        #content .adventure-log-post-container.teaser .post-column .post-header .tags, #fancybox-outer .adventure-log-post-container.teaser .post-column .post-header .tags {
          margin-top: -5px;
          margin-bottom: -4px; }
      #content .adventure-log-post-container.teaser .post-column .header-icon, #fancybox-outer .adventure-log-post-container.teaser .post-column .header-icon {
        margin-top: -50px; }
      #content .adventure-log-post-container.teaser .post-column .overflow-fade-out, #fancybox-outer .adventure-log-post-container.teaser .post-column .overflow-fade-out {
        display: none; }
    #content .adventure-log-post-container.teaser .post-date, #fancybox-outer .adventure-log-post-container.teaser .post-date {
      color: #4b0b0a;
      font-family: 'Rock Salt';
      background: none;
      margin-left: -200px;
      margin-top: -12px;
      height: 100px; }
      #content .adventure-log-post-container.teaser .post-date .day, #fancybox-outer .adventure-log-post-container.teaser .post-date .day {
        padding-bottom: 13px; }
  #content .post-main, #content .post-section, #fancybox-outer .post-main, #fancybox-outer .post-section {
    background: none; }
  #content table, #fancybox-outer table {
    background: none;
    border: none;
    border-spacing: 0px; }
    #content table tr:nth-of-type(even), #fancybox-outer table tr:nth-of-type(even) {
      background: none; }
    #content table th, #fancybox-outer table th {
      border: none; }
    #content table tr, #fancybox-outer table tr {
      /*border-bottom: 1px solid black;*/
      /*border-left: 0px solid black;*/
      /*border-right: 0px solid black;*/
      /*border-top: 0px solid black;*/ }
    #content table th, #fancybox-outer table th {
      background: url(https://i.minus.com/ibaMgqXr2ogTlu.png);
      color: black; }
  #content .main-content, #content #character-details, #content .adventure-log-post, #fancybox-outer .main-content, #fancybox-outer #character-details, #fancybox-outer .adventure-log-post {
    background: none; }
    #content .main-content .title, #content #character-details .title, #content .adventure-log-post .title, #fancybox-outer .main-content .title, #fancybox-outer #character-details .title, #fancybox-outer .adventure-log-post .title {
      border-bottom: 1px solid black; }
  #content textarea, #content textarea.flat-field, #fancybox-outer textarea, #fancybox-outer textarea.flat-field {
    color: black;
    background: url(https://fc06.deviantart.net/fs11/i/2006/220/d/2/Grungy_paper_v_6___or_sumtin___by_bashcorpo.jpg); }

a, a.tag-link:visited, a.character_link:visited, a.wiki-content-link:visited, a.wiki-page-link:visited, a:visited {
  color: #4b0b0a !important;
  font-family: 'Rock Salt'; }

#sidebar.sidebar {
  border-left: 1px solid black;
  border-top: 1px solid black;
  margin-left: 0px;
  padding-top: 5px;
  color: black; }
  #sidebar.sidebar div {
    border-top: 0px; }
  #sidebar.sidebar h4 {
    color: black;
    border-bottom: 1px solid black; }
  #sidebar.sidebar p {
    color: black; }

.page-title:after {
  content: "- Monday, September 9th, 1947"; }

.dsf_avatar_image {
  display: block; }

.dsf_avatar_image:before {
  content: ' ';
  display: block;
  position: relative;
  left: 150px;
  top: -12px;
  height: 111px;
  width: 110px;
  background: url(https://i.minus.com/ibr7dma6qdUJcu.png);
  background-size: 100% auto;
  z-index: 20;
  margin: -100px;
  margin-top: -10px; }
