.campaign-settings {
  #style-settings {
    textarea, textarea.flat-field {
      color: black;
      background: url(https://fc06.deviantart.net/fs11/i/2006/220/d/2/Grungy_paper_v_6___or_sumtin___by_bashcorpo.jpg);
    }
    #dark-section, .gray-back {
      background: none;
    }
  }
}
#content, #fancybox-outer {
  .adventure-log-post-container.teaser {
    .post-column {
      .title {
        border: 0px;
      }
      background-image: url(http://upload.wikimedia.org/wikipedia/en/3/3b/3x5_Notecard.jpg);
      background-size: cover;
    }
  }

  background: url(https://fc03.deviantart.net/fs7/i/2005/258/c/4/Paper_texture_v5_by_bashcorpo.jpg);
  font-family: "Stardos Stencil";
  color: #000;
  .post-main, .post-section {
    background: none;
  }
  table {
    background: none;
    border: none;
    border-spacing: 0px;
    tr:nth-of-type(even) {
      background:none;
    }
    th {
      border: none;
    }
    tr {
      /*border-bottom: 1px solid black;*/
      /*border-left: 0px solid black;*/
      /*border-right: 0px solid black;*/
      /*border-top: 0px solid black;*/
    }
    th {
      background: url(https://i.minus.com/ibaMgqXr2ogTlu.png);
      color: black;
    }
  }
 .main-content, #character-details, .adventure-log-post {
   background: none;
   .title {
     border-bottom: 1px solid black;
   }
 }
  textarea, textarea.flat-field {
    color: black;
    background: url(https://fc06.deviantart.net/fs11/i/2006/220/d/2/Grungy_paper_v_6___or_sumtin___by_bashcorpo.jpg);
  }
}

a, a.tag-link:visited, a.character_link:visited, a.wiki-content-link:visited, a.wiki-page-link:visited, a:visited {
  color: #4b0b0a !important;
font-family: 'Rock Salt';
}


#sidebar.sidebar {
  border-left: 1px solid black;
  border-top: 1px solid black;
  margin-left: 0px;
  padding-top: 5px;
  color: black;
  div {
    border-top: 0px;
  }
  h4 {
    color: black;
    border-bottom: 1px solid black;
  }
  p {
    color: black;
  }
}

.page-title:after {
  content: "- Monday, September 9th, 1947";
}
.dsf_avatar_image {
  display: block;
}

.dsf_avatar_image:before {
  content: ' ';
  display: block;
  position: relative;
  left: 150px;
  top: -12px;
  height: 111px;
  width: 110px;
  background: url(https://i.minus.com/ibr7dma6qdUJcu.png);
  background-size: 100% auto;
  z-index: 20;
  margin: -100px;
  margin-top: -10px;
}

